.homepage{
  background-color: rgb(249,245,239);
  border: 1px solid  rgb(235, 218, 193);
  padding-top: 70px;
  padding-left: 80px;
  padding-right: 80px;
  padding-bottom: 70px;
}

@media (max-width:800px){
  .homepage-grid{
    flex-direction: column;
    text-align: center;
  }

  .profile-picture{
    
    top: 10px;
    left: 10px;
    width: 50%;
  }
}

@media (max-width:1100px){
  .content .name{
    font-size: 40px;
  }
  .content .short-bio{
    font-size: 15px;
  }
  .content .about-me{
    font-size: 15px;
  }
  .content{
    word-wrap: break-word;
    overflow-wrap: break-word;
  }
}


.homepage-grid{
  display: flex;
  flex-direction: row;
}

.content{
  width: 800px;
  padding: 50px 40px;
  flex-grow: wrap;
}

.name{
  font-size: 50px;
  font-weight: bold;
  color: rgb(145, 108, 105);
  margin-bottom: 20px;
}

.short-bio{
  font-size: 30px;
  font-weight: bold;
  color: rgb(182, 148, 145);
}

.about-me{
  color: rgb(182, 148, 145);
  font-size: 20px;
}

.blank{
  background-color:  rgb(145, 108, 105);
  width: 400px;
  height: 400px;
  position: relative;
}

.profile-picture{
  width: 400px;
  height: 400px;
  object-fit: cover;
  position: absolute;
  top: -15px;
  left: -15px;
}